<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main</title>
    <meta name="description" content="Tesk task for animation">
    <meta name="theme-color" content="#fff">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="wrapper">
        <!--/*HEADER*/-->
        @@include("../blocks/modules/header/header.html")

        <!--/*SLIDER*/-->
        @@include("../blocks/modules/slider/slider.html")

        <!--/*FOOTER*/-->
        @@include("../blocks/modules/footer/footer.html")
    </div>
    <script src="lib/swiper.min.js"></script>
    <script src="lib/splitting-lite.min.js"></script>
    <script src="lib/parallax.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
