@font-face {
    font-family: 'Schnyder Cond XL Demi';
    src: url('../fonts/SchnyderXCondensed/SchnyderXCondXLDemi.woff2') format('woff2'),
    url('../fonts/SchnyderXCondensed/SchnyderXCondXLDemi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TT_Travel/TTTravels-Light.woff2') format('woff2'),
    url('../fonts/TT_Travel/TTTravels-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}