* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;

    :focus {
        outline-color: rgba(88, 3, 0, 0.8);
        outline-style: dotted;
        outline-offset: 0.3rem;
    }

    > * {
        cursor: url("../img/svg/cursor.svg") 8 8, auto;

        :hover {
            cursor: url("../dist/img/svg/cursor.svg") 8 8, auto;
        }
    }
}

::selection {
    background: rgba(88, 3, 0, 0.5);
}

:root {
    font-size: 12px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    background: #ffffff;
}
